<%= form_with(model: qana, local: true) do |form| %>
  <% if qana.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qana.errors.count, "error") %> prohibited this qana from being saved:</h2>

      <ul>
        <% qana.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_field :topic %>
  </div>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer %>
  </div>

  <div class="field">
    <%= form.label :createddate %>
    <%= form.datetime_select :createddate %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
 
<% end %>
