<%= form_with(model: aboutme, local: true) do |form| %>
  <% if aboutme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aboutme.errors.count, "error") %> prohibited this aboutme from being saved:</h2>

      <ul>
        <% aboutme.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div class="field">
    <%= form.label :creationdateandtime %>
    <%= form.datetime_select :creationdateandtime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
